<ul id="language-bar">
  <li><strong><%= t('change_language') %></strong></li>
  <% I18n.available_locales.each do |locale| -%>
    <li>
      <%= link_to(flag_image_tag(locale), locale_set_path(:locale => locale)) %>
    </li>
  <% end -%>
</ul>
